{% extends 'base.html.twig' %}

{% block title %}Ajout Point{% endblock %}

{% block body %}

<div class="form-body text-center d-flex justify-content-center align-items-center">
    <div class="form col-8 col-lg-4 p-4">

        <h1 class="h1 mb-3">Ajouter un Point</h1>

        {{ form_start(formPoint) }}
        {{ form_row(formPoint.categorie, { attr: { 'class': 'input w-75 mx-auto' } }) }}
        {{ form_row(formPoint.description, { attr: { 'class': 'input w-75 mx-auto' } }) }}
        {{ form_row(formPoint.img, { attr: { 'class': 'input w-75 mx-auto' } }) }}
        <button type="submit" class="btn btn-form">Ajouter</button>
        {{ form_end(formPoint) }}

    </div>
</div>

{% endblock %}