{% extends 'base.html.twig' %}

{% block title %}Carte{% endblock %}

{% block body %}

<div id="map" data-point="{{ points }}">


    {# bouton sur la map #}

    <div class="boutton w-100 d-flex justify-content-between">

        {# bouton ajout de point #}
        {% if is_granted('ROLE_USER') %}
        <button class="btn bouton-ajout">
            <i class="bi bi-plus ajout-plus"></i>
        </button>
        {# <ul class="dropdown-menu js-add-point-links">
        {% for category in categorys %}
            <li><a class="dropdown-item text-whiter text-white" href="{{ path('ajout-point', {'cat': category.category }) }}">{{ category.category }}</a></li>
        {% endfor %}
        </ul> #}
        {% else %}

        {% endif %}
        {# bouton filtre #}
        <button type="button" class="btn bouton-filtre" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-funnel-fill filtre-icon"></i>
        </button>
        <ul class="dropdown-menu">
        <li><a class="dropdown-item text-white d-flex flex-row justify-content-end align-items-center js-point-color"
                    data-is-point="{{ 'Tous' }}"
                    >Tous</a></li>
        {% for category in categorys %}
            <li><a class="dropdown-item text-white d-flex flex-row justify-content-end align-items-center js-point-color"
                    data-is-point="{{ category.color }}"
                    >{{ category.category }}<img class="marker-filtre" src="{{ asset('build/img/marker-icon-' ~ category.color ~ '.png') }}"
                        alt="marker alimentaire"></a></li>
        {% endfor %}
        </ul>

    </div>
</div>

{% endblock %}