{% extends 'base.html.twig' %}

{% block title %}Mes Points{% endblock %}

{% block body %}
<div class="form-body text-center d-flex justify-content-center align-items-center">
    <div class="form p-4">

    <h1>Mes Points</h1>

    <table class="table">
        <thead>
            <tr>
                <th class="border">Categorie</th>
                <th class="border">Description</th>
                <th class="border">Point</th>
                <th class="border">Image</th>
                <th class="border">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for point in points %}
            <tr>
                <td class="border">{{ point.idcategory.category }}</td>
                <td class="border">{{ point.description }}</td>
                <td class="border">{{ point.point ? point.point|json_encode : '' }}</td>
                <td class="border"><img class="img-fluid img-crud" src="../../img_upload/{{ point.img }}" alt="{{ point.img }}"></td>
                <td class="border">
                        {{ include('crud_point/_delete_form.html.twig') }}
                    <a class="btn mt-2 bg-primary text-white" href="{{ path('crud_point_edit', {'id': point.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun point trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}
