{% extends 'base.html.twig' %}

{% block title %}Point index{% endblock %}

{% block body %}
<div class="form-body text-center d-flex justify-content-center align-items-center">
    <div class="form p-4">

    <h1>Mes Points</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Categorie</th>
                <th>Description</th>
                <th>Point</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for point in points %}
            <tr>
                <td>{{ point.categorie }}</td>
                <td>{{ point.description }}</td>
                <td>{{ point.point ? point.point|json_encode : '' }}</td>
                <td><img class="img-fluid img-crud" src="../../img_upload/{{ point.img }}" alt="{{ point.img }}"></td>
                <td>
                        {{ include('crud_point/_delete_form.html.twig') }}
                    <a class="btn mt-2 bg-primary text-white" href="{{ path('crud_point_edit', {'id': point.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun point trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}
