{% extends 'base.html.twig' %}

{% block title %}Admin Cateories{% endblock %}

{% block body %}
<div class="form-body text-center d-flex justify-content-center align-items-center">
    <div class="form p-4">

    <h1>Categories</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Category</th>
                <th>Color</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.category }}</td>
                <td>{{ category.color }}</td>
                <td>
                {{ include('admin_category/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-form mb-4" href="{{ path('admin_category_new') }}">Ajouter</a>
    </div>
</div>
{% endblock %}
